/* ============================================= */
/*              Grid System                      */
/* ============================================= */


.apple-ID {
    background-color: white;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    margin: 15px 0;
    padding: 10px 15px;
    position: relative;
    @include flexy($align: center);
}

.arrow {
    position: absolute;
    left: 300px;
}

ul {
    list-style: none;
}

.menu {
    background-color: white;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    margin: 25px 0;
}

.menu-items {
    @include flexy($align: center);
}