/* ============================================= */
/*              Typography                       */
/* ============================================= */

.name {
    width: 100%;
    @include flexy($just: space-between, $align: center);
    padding-left: 10px;
    p {
        font-size: .95rem;
    }
    span {
        font-size: .7rem;
    }
}