/* ============================================= */
/*              Typography                       */
/* ============================================= */

.name {
    padding: 0 10px;
    p {
        font-size: .95rem;
    }
    span {
        font-size: .7rem;
    }
}